# Ignore build directories
.vs/*
KSP_MOCR/.vs/*
KSP_MOCR/bin/*
KSP_MOCR/obj/*
*CSTest.exe*

# Ignore Release directory
Releases/*

# Ignore Research images
MOCR/*

# Ignore userprefs
KSP_MOCR.userprefs

# Ignore temp files
PySSSMQ_server/.pidfile
